body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Open Sans";
}

main {
  display: flex;
  flex-direction: column;
  width: 1145px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.topo {
  display: flex;
  padding: 12.5px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.noticias {
  display: flex;
  justify-content: space-between;
  padding: 12.5px;
}

.logoglobocom {
  display: flex;
  width: 96.5px;
  height: 59.5px;
  margin-right: 25px;
  cursor: pointer;
}

.caixalinks {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: -0.065em;
}

.g1 {
  color: #a80001;
  margin-right: 25px;
  cursor: pointer;
}

.ge {
  color: #06aa48;
  margin-right: 25px;
  cursor: pointer;
}

.gshow {
  color: #ff7f00;
  margin-right: 25px;
  cursor: pointer;
}

.tech {
  color: #666666;
  margin-right: 25px;
  cursor: pointer;
}

.videos {
  color: #0769de;
  margin-right: 25px;
  cursor: pointer;
}

.caixavermelha {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  color: #cd150b;
  font-weight: bolder;
  margin-right: 20px;
}

.primeiralinha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.segundalinha {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 20px;
}

.terceiralinha {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 10px;
}

.materiaprincipal {
  display: flex;
  font-size: 52px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.materiaprincipal:hover {
  filter: brightness(120%);
}

.materiasecundaria {
  display: flex;
  font-size: 18px;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.materiasecundaria:hover {
  filter: brightness(120%);
}

.caixanoticiavermelha {
  display: flex;
  flex-direction: column;
  width: 171px;
}

.containerimagem1 {
  display: flex;
  width: 171px;
  height: 96px;
  cursor: pointer;
}

.legendaimgvermelha {
  display: flex;
  font-size: 21.5px;
  letter-spacing: -0.045em;
  margin-top: 10px;
  cursor: pointer;
}

.legendaimgvermelha:hover {
  filter: brightness(120%);
}

.sublegendaimgvermelha {
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  letter-spacing: -0.048em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sublegendaimgvermelha:hover {
  filter: brightness(120%);
}

.caixaverde {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  color: #06aa48;
  font-weight: bolder;
  border-left: 1px solid #e6e6e6;
}

.caixanoticiaverde {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 235px;
  margin-left: 20px;
  margin-right: 20px;
}

.containerimagem2 {
  display: flex;
  width: 235px;
  height: 118px;
  cursor: pointer;
}

.legendaimgverde {
  display: flex;
  align-items: space-evenly;
  font-size: 21.5px;
  letter-spacing: -0.045em;
  margin-top: 10px;
  cursor: pointer;
}

.legendaimgverde:hover {
  filter: brightness(120%);
}

.sublegendaimgverde {
  display: flex;
  align-items: space-evenly;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  letter-spacing: -0.048em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sublegendaimgverde:hover {
  filter: brightness(120%);
}

.caixalaranja {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ff8203;
  font-weight: bolder;
  border-left: 1px solid #e6e6e6;
}

.caixanoticialaranja {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 235px;
  margin-left: 20px;
  margin-right: 20px;
}

.legendaimglaranja {
  display: flex;
  align-items: space-evenly;
  font-size: 21.5px;
  letter-spacing: -0.045em;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.legendaimglaranja:hover {
  filter: brightness(120%);
}

.sublegendaimglaranja {
  display: flex;
  align-items: space-evenly;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 19px;
  letter-spacing: -0.048em;
  margin-top: 10px;
  cursor: pointer;
}

.sublegendaimglaranja:hover {
  filter: brightness(120%);
}
